.connecting {
  position: fixed;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #444;
  color: #fff;
  font-size: 30pt;
  text-align: center;
  height: auto;
  opacity: 1;
  pointer-events: none;
}

.connecting[hidden] {
  transition: opacity .25s ease;
  display: block;
  opacity: 0;
}

.connecting span{
  display: block;
  margin-top: 30vh;
}

@keyframes spinspin{
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.connecting .spin {
  position: relative;
  display: inline-block;
  animation: spinspin linear 2s infinite;
  background-image: url("../img/loading/loading.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20vh;
  width: 200px;
  height: 200px;
}
